form(action='/auth/google', method='GET')
    div
        p Enter username
        input.text(type='text', name='username')
    div
        p Enter a password:  
        input.text(type='text', name='password')
    input.button(type='submit', value='Submit') 